<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr"
      layout:decorate="~{layout/base}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- UIkit JS -->
  <script th:src="@{/vendor/uikit/js/uikit.min.js}"></script>
  <script th:src="@{/vendor/uikit/js/uikit-icons.min.js}"></script>
  <!-- UIkit CSS -->
  <link rel="stylesheet" th:href="@{/vendor/uikit/css/uikit.min.css}"/>
  <title>Title</title>
</head>

<body>
<div layout:fragment="content">
  <div class="uk-container">

    <h1 class="uk-heading-divider uk-text-center blacks souligner police">Se Connecter</h1>

    <div class="centrer blacks" th:if="${param.logout}">Déconnexion réalisée avec succès</div>
    <div class="mdp blacks" th:if="${param.error}">Votre login ou votre mot de passe est incorrect</div>

    <form th:action="@{/login}" method="post">

      <!--champs email-->
      <div class="uk-margin ">
        <div class="uk-inline uk-width-1-1 ">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input uk-width-1-1 centrer " type="text" placeholder="Saisir l'email" name="username" style="border-radius: 50px">
        </div>

      </div>


      <!--champs password-->
      <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon " uk-icon="icon: lock"></span>
          <input class="uk-input uk-width-1-1 centrer" type="password" placeholder="Saisir le mot de passe"
                 name="password" style="border-radius: 50px"/>
        </div>
      </div>

      <!--lien oublié-->
      <div th:class="mdp">
        <a href="#" class="uk-link-muted uk-width-1-1 eni-link-click " >Mot de passe oublié ?</a>
      </div>

      <!--Bouton submit-->
      <div class="uk-margin ">
        <input type="submit" value="Se Connecter" class=" uk-button uk-button-primary uk-width-1-1 " style="border-radius: 50px"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>