<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <title th:text="${'Détail-commande' + detailcommande.id_detail_commande}"></title>-->
</head>
<body>
<h1> Details de la détails commande</h1>

<div>
    <li th:text="${'Commande N°' + commande.id_commande}"></li>

    <h2> Produits de la commande </h2>
    <ul th:each="d: ${detailCommandes}">
        <li th:text="${'Nom du produit : ' + d.id_produit.nom}"></li>
        <li th:text="${'Quantité : ' + d.quantite}"></li>
        <li th:text="${'Type de produit : ' + d.id_produit.id_type_produit.libelle}"></li>
        <li th:text="${'Prix cumulé : ' + d.id_produit.prix + ' €'}"></li>
    </ul>

    <h2>Information de la commande</h2>
    <ul>
        <li th:text="${'Prix de la commande : ' + commande.prix_total + ' €'}"></li>
        <li th:text="${'Date et heure de livraison : ' + commande.date_heure_livraison}"></li>
        <li th:text="${'Etat de la commande : ' + commande.id_etat.libelle}"></li>
        <li th:if="${commande.est_paye} == 0">Commande non réglées</li>
        <li th:if="${commande.est_paye} == 1">Commande réglées</li>
        <li th:if="${commande.livraison} == 1">Type de commande : Livraison</li>
        <li th:if="${commande.livraison} == 0">Type de commande : A emporter</li>
    </ul>

    <h2>Utilisateur de la commande</h2>
    <ul>
        <li th:text="${'Identifiant : ' + commande.id_utilisateur.id_utilisateur}"></li>
        <li th:if="${commande.id_etat.id_etat} == 1"
            th:text="${'Commande prise par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 2"
            th:text="${'Commande prise par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 3"
            th:text="${'Commande préparée par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 4"
            th:text="${'Commande préparée par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 5"
            th:text="${'Commande livrée par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 6"
            th:text="${'Commande livrée par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:each="roleUtilisateur : ${commande.id_utilisateur.getRoles()}">
            <span th:text="${'Role : ' + roleUtilisateur.libelle}"></span>
        </li>
        <li th:text="${'email : ' + commande.id_utilisateur.email}"></li>
    </ul>


    <h2>Client de la commande</h2>
    <ul>
        <li th:text="${'Identifiant : ' + commande.id_client.id_client}"></li>
        <li th:text="${'Nom : ' + commande.id_client.prenom + ' ' + commande.id_client.nom}"></li>
        <li th:text="${'Adresse  : ' + commande.id_client.rue + ', ' + commande.id_client.ville + ' ' + commande.id_client.code_postal}"></li>
    </ul>

    <ul>
        <li>
            <form th:action="@{'/enregistrer/' + ${commande.id_commande}}" method="post">
                <input class="semi-transparent essai" type="submit" value="Commande en cours de création">
            </form>
        </li>

        <li>
            <form th:action="@{'/en-cours-creation/' + ${commande.id_commande}}" method="post">
                <input class="semi-transparent essai" type="submit" value="Commande crée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/en-preparation-form/' + ${commande.id_commande}}"
                  method="post">
                <input type="submit" value="Commande en préparation">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/fin de-preparation-form/' + ${commande.id_commande}}"
                  method="post">
                <input type="submit" value="Commande préparée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/en-livraison-form/' + ${commande.id_commande}}"
                  method="post">
                <input type="submit" value="Commande en cours de livraison">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/fin de-livraison-form/' + ${commande.id_commande}}"
                  method="post">
                <input type="submit" value="Commande livrée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/non-paye/' + ${commande.id_commande}}"
                  method="post">
                <input type="submit" value="Commande non payée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/est-paye/' + ${commande.id_commande}}"
                  method="post">
                <input type="submit" value="Commande payée">
            </form>
        </li>

        <li>
            <input type="button" value="Accueil"
                   th:onclick="'window.location.href=\'/\''">
        </li>
    </ul>
</div>

</body>
</html>
