<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="Formulaire">Formulaire création de commande </title>
</head>
<body>
<div layout:fragment="content">
<h1 class="black centrer souligner police"> Details de la détails commande</h1>

<div>
    <li th:text="${'Commande N°' + commande.id_commande}"></li>

    <h2 class="black centrer souligner police"> Détails de la commande </h2>
    <ul class="uk-container opacité " th:each="d: ${detailCommandes}">
        <li th:text="${'Nom du produit : ' + d.id_produit.nom}"></li>
        <li th:text="${'Quantité : ' + d.quantite}"></li>
    </ul>

    <h2 class="black centrer souligner police">Information de la commande</h2>
    <ul class="uk-container opacité ">
        <li th:text="${'Prix de la commande : ' + commande.prix_total + ' €'}"></li>
        <li th:text="${'Date et heure de livraison : ' + commande.date_heure_livraison}"></li>
        <li th:if="${commande.livraison} == 1">Type de commande : Livraison</li>
        <li th:if="${commande.livraison} == 0">Type de commande : A emporter</li>
        <li th:if="${commande.est_paye} == 0">Commande non réglées</li>
        <li th:if="${commande.est_paye} == 1">Commande réglées</li>
        <li th:text="${'Etat de la commande : ' + commande.id_etat.libelle}"></li>
        <li th:text="${'Nom du client : ' + commande.id_client.nom + ' ' + commande.id_client.prenom}"></li>
        <li th:text="${'Pizzaiolo : ' + commande.id_utilisateur.nom + ' ' + commande.id_utilisateur.prenom}"></li>

        <li>
            <input class="semi-transparent essai"  type="button" value="Modifier Commande"
                   th:onclick="'window.location.href=\'/show-creation-commande/' + ${commande.id_commande} + '\''">
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/en-preparation-form/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai"  type="submit" value="Commande en préparation">
            </form>
        </li>
        <li>
            <form th:object="${commande}" th:action="@{'/fin de-preparation-form/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai"  type="submit" value="Commande préparée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/non-paye/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai"  type="submit" value="Commande non payée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/est-paye/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai"  type="submit" value="Commande payée">
            </form>
        </li>

        <li>
            <input class="semi-transparent essai"  type="button" value="Accueil"
                   th:onclick="'window.location.href=\'/\''">
        </li>
    </ul>
</div>
</div>
</body>
</html>
