<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${utilisateur.nom}"></title>
</head>
<body>
<h1>Détails de l'utilisateur</h1>

<ul>
    <li th:text="${'Identifiant : ' + utilisateur.id_utilisateur}"></li>
    <li th:text="${'Nom : ' + utilisateur.nom}"></li>
    <li th:text="${'Prénom : ' + utilisateur.prenom}"></li>
    <li th:text="${'Email : ' + utilisateur.getEmail()}"></li>
    <li th:text="${'Mot de passe : ' + utilisateur.getMot_de_passe()}"></li>
    <li th:each="roleUtilisateur : ${utilisateur.getRoles()}">
        <span th:text="${'Role : ' + roleUtilisateur.libelle}"></span>
        <a th:href="@{'/delete-role-utilisateur/' + ${utilisateur.id_utilisateur} + '/' + ${roleUtilisateur.id_role}}">Supprimer</a>
    </li>
</ul>
<div>
    <a th:href="@{'/show-utilisateur-form/' +${utilisateur.id_utilisateur}}">Modifier</a>
</div>
<div>
    <a th:href="@{'/delete-utilisateur/' + ${utilisateur.id_utilisateur}}">Supprimer</a>
</div>

</body>
</html>