<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="Formulaire">Formulaire création de commande </title>
</head>
<body>
<div layout:fragment="content">
<h1 class="black centrer souligner police"> Details de la détails commande</h1>

<div>
    <li class="uk-container opacité " th:text="${'Commande N°' + commande.id_commande}"></li>

    <h2 class="black centrer souligner police"> Produits de la commande </h2>
    <ul class="uk-container opacité " th:each="d: ${detailCommandes}">
        <li th:text="${'Nom du produit : ' + d.id_produit.nom}"></li>
        <li th:text="${'Quantité : ' + d.quantite}"></li>
        <li th:text="${'Type de produit : ' + d.id_produit.id_type_produit.libelle}"></li>
        <li th:text="${'Prix cumulé : ' + d.id_produit.prix + ' €'}"></li>
    </ul>

    <h2 class="black centrer souligner police">Information de la commande</h2>
    <ul class="uk-container opacité ">
        <li th:text="${'Prix de la commande : ' + commande.prix_total + ' €'}"></li>
        <li th:text="${'Date et heure de livraison : ' + commande.date_heure_livraison}"></li>
        <li th:text="${'Etat de la commande : ' + commande.id_etat.libelle}"></li>
        <li th:if="${commande.est_paye} == 0">Commande non réglées</li>
        <li th:if="${commande.est_paye} == 1">Commande réglées</li>
        <li th:if="${commande.livraison} == 1">Type de commande : Livraison</li>
        <li th:if="${commande.livraison} == 0">Type de commande : A emporter</li>
    </ul>

    <h2 class="black centrer souligner police">Utilisateur de la commande</h2>
    <ul class="uk-container opacité ">
        <li th:text="${'Identifiant : ' + commande.id_utilisateur.id_utilisateur}"></li>
        <li th:if="${commande.id_etat.id_etat} == 1"
            th:text="${'Commande prise par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 2"
            th:text="${'Commande prise par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 3"
            th:text="${'Commande préparée par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 4"
            th:text="${'Commande préparée par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 5"
            th:text="${'Commande livrée par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:if="${commande.id_etat.id_etat} == 6"
            th:text="${'Commande livrée par : ' + commande.id_utilisateur.prenom + ' ' + commande.id_utilisateur.nom}"></li>
        <li th:each="roleUtilisateur : ${commande.id_utilisateur.getRoles()}">
            <span th:text="${'Role : ' + roleUtilisateur.libelle}"></span>
        </li>
        <li th:text="${'email : ' + commande.id_utilisateur.email}"></li>
    </ul>


    <h2 class="black centrer souligner police">Client de la commande</h2>
    <ul class="uk-container opacité ">
        <li th:text="${'Identifiant : ' + commande.id_client.id_client}"></li>
        <li th:text="${'Nom : ' + commande.id_client.prenom + ' ' + commande.id_client.nom}"></li>
        <li th:text="${'Adresse  : ' + commande.id_client.rue + ', ' + commande.id_client.ville + ' ' + commande.id_client.code_postal}"></li>
    </ul>

    <ul class="uk-container opacité ">
        <li>
            <form th:action="@{'/enregistrer/' + ${commande.id_commande}}" method="post">
                <input class="semi-transparent essai" type="submit" value="Commande en cours de création">
            </form>
        </li>

        <li>
            <form th:action="@{'/en-cours-creation/' + ${commande.id_commande}}" method="post">
                <input class="semi-transparent essai" type="submit" value="Commande crée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/en-preparation-form/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai" type="submit" value="Commande en préparation">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/fin de-preparation-form/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai" type="submit" value="Commande préparée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/en-livraison-form/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai" type="submit" value="Commande en cours de livraison">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/fin de-livraison-form/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai" type="submit" value="Commande livrée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/non-paye/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai" type="submit" value="Commande non payée">
            </form>
        </li>

        <li>
            <form th:object="${commande}" th:action="@{'/est-paye/' + ${commande.id_commande}}"
                  method="post">
                <input class="semi-transparent essai" type="submit" value="Commande payée">
            </form>
        </li>

        <li>
            <input class="semi-transparent essai" type="button" value="Accueil"
                   th:onclick="'window.location.href=\'/\''">
        </li>
    </ul>
</div>

</body>
</html>
