<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Liste des clients</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="black centrer souligner police">Liste des clients</h1>
    <div class="black li">
        <div th:each="client: ${clients}">
            <ul class="opacité">
                <li th:text="${'Prénom : ' + client.prenom}"></li>
                <li th:text="${'Nom : ' + client.nom}"></li>
                <li th:text="${'Rue : ' + client.rue}"></li>
                <li th:text="${'Code Postal : ' +  client.code_postal}"></li>
                <li th:text="${' Ville : ' + client.ville}"></li>
                <a th:class="souligner" th:href="@{'/details-client/' +${client.id_client}}">Détails clients</a>
            </ul>
        </div>
    </div>
</body>
</html>