<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des clients</title>
</head>
<body>

<h1>Liste des clients</h1>

<div th:each="client: ${clients}">
  <ul>
    <li th:text="${'Prénom : ' + client.prenom}"></li>
    <li th:text="${'Nom : ' + client.nom}"></li>
    <li th:text="${'Rue : ' + client.rue}"></li>
    <li th:text="${'Code Postal : ' +  client.code_postal}"></li>
    <li th:text="${' Ville : ' + client.ville}"></li>
    <a th:href="@{'/details-client/' +${client.id_client}}">Détails clients</a>
  </ul>
</div>
</body>
</html>