<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des produits</title>
</head>
<body>

<h1>Liste des produits</h1>

<div th:each="produit: ${produits}">
    <ul>
        <img th:src="${produit.image_url}" alt="image d'un produit"></img>
        <li th:text="${'Nom : ' + produit.nom}"></li>
        <li th:text="${'Description : ' + produit.description}"></li>
        <li th:text="${'Prix : ' + produit.prix + ' €'}"></li>
<!--        <li th:text="${'Type de produit : ' + produit.id_type_produit.getLibelle()}"></li>-->
        <a th:href="@{'/details-produit/' + ${produit.idProduit}}">Voir détails</a>
    </ul>
</div>

</body>
</html>