<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Liste des produits</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="black centrer souligner police" >Liste des produits </h1>
    <div class="black li">
        <div class="centrer">
        <div th:each="produit: ${produits}" >

                <img th:src="${produit.image_url}" th:class="arrondir" alt="image d'un produit">
            <ul class="uk-container opacité ">
                <li th:text="${'Nom : ' + produit.nom}"></li>
                <li th:text="${'Description : ' + produit.description}"></li>
                <li th:text="${'Prix : ' + produit.prix + ' €'}"></li>
                <!--        <li th:text="${'Type de produit : ' + produit.id_type_produit.getLibelle()}"></li>-->
                <a class="souligner" th:href="@{'/details-produit/' + ${produit.idProduit}}">Voir détails</a>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>