.pizza-navbar-logo {
    height: 50px;
    border-radius: 60%;
}

html, body {
    height: 100%;
    margin: 0;
    background: url('../images/fond-transformed (4).jpeg') no-repeat center center fixed;
    background-size: cover;
}

htm
/*.eni-page-background {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: url("abstract-gradient-sky-background-with-cotton-candy-clouds.jpg");*/
/*    background-size: cover;*/
/*}*/

.eni-common-page-padding {
    padding: 3rem
}

.uk-navbar-container.eni-navbar-gradient {
}
.eni-navbar-btn-padding {
    padding:  0 5rem;
}

.pizza-nav-transparent{
    background-color: rgba(255, 255, 255, 0)
}
.texte-blanc {
    color: white;
}
.centrer{
    text-align: center;
}
.placeholder{
    display: flex;
    align-items: center;
    height: 60px;
}
.souligner{
    text-decoration: underline;
}
.accueil{
    color: black;
    font-style: italic;
    text-decoration: underline;
}
.arrondir{
    border-radius: 20%;
}
.essai{
    border-radius: 25px;
    padding: 5px 10px;
}
.semi-transparent{
    background-color: rgba(255, 255, 255, 0.2);
}
.longueur-input{
    width: 400px;
}
.oval{
    border-radius: 25px;
    padding: 10px 20px;
}

.li{
    list-style-position: inside;
}
.police{
    font-style: oblique;
}
.select-large{
    border-radius: 25px;
    padding: 0px 0px;
}
.rouge{
    color: red;
}
.black{
    display: flex;
    align-items: center;
    width: 100%;
    color: black; flex-direction: column;

}
.opacité{
    border-radius: 50px;
    width: fit-content;
    padding: 2rem;
    background-color: white;
    color: black;

    opacity: 0.5;
}
.blacks{
    color: black;
}

.mdp{
    display: flex;
    justify-content: center;
}
.connexion{
    border-radius: 30px;
}

.milieu{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.colonne{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
.centrer2{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
}
