.pizza-navbar-logo {
    height: 30px;
}

html, body {
    height: 100%;
    margin: 0;
    background: url('../images/Background-transformed.jpeg') no-repeat center center fixed;
    background-size: cover;
}


/*.eni-page-background {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: url("abstract-gradient-sky-background-with-cotton-candy-clouds.jpg");*/
/*    background-size: cover;*/
/*}*/

.eni-common-page-padding {
    padding: 3rem
}

.uk-navbar-container.eni-navbar-gradient {
}
.eni-navbar-btn-padding {
    padding: 0 1rem;
}

.pizza-nav-transparent{
    background-color: rgba(255, 255, 255, 0)
}
.texte-blanc{
    color: white;

}