<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
</head>
<body>

<h1>Formulaire de création de commande</h1>

<div>

    <h2>Information de la commande</h2>
    <li th:text="${' Commande Numéro : ' + commande.id_commande}"></li>

    <h2> État de la commande </h2>
    <ul>
        <!--  faire un th:each pour afficher le prix de chaque article et les additionner et les enregistrer dans prix total      -->
        <li th:text="${'Prix de la commande : ' + commande.prix_total}"></li>
        <li th:if="${commande.est_paye} == 0">Commande non réglées</li>
        <li th:if="${commande.est_paye} == 1">Commande réglées</li>
        <li th:text="${'Date et heure de livraison : ' + commande.date_heure_livraison.minusHours(2)}"></li>
        <li th:if="${commande.livraison} == 1">Type de commande : Livraison</li>
        <li th:if="${commande.livraison} == 0">Type de commande : A emporter</li>
    </ul>

    <h2> Détails de la commande </h2>
    <ul th:each="d: ${detailCommandeUpdate}">
        <li th:text="${'Nom du produit : ' + d.id_produit.nom}"></li>
        <li th:text="${'Quantité : ' + d.quantite}"></li>
        <li th:text="${'Prix cumulé : ' + d.quantite*d.id_produit.prix}"></li>
        <a th:href="@{'/delete-produit-details-commande/' + ${d.id_commande.id_commande} + '/' +  ${d.id_produit.idProduit}}">Supprimer</a>
    </ul>
</div>

<h2>Formulaire de la commande</h2>

<form th:each="detail : ${detailCommandes}" th:object="${detail}" th:action="@{/creation-commande}" method="post">

        <!-- Champ Numero de commande-->
        <div>
            <label for="commande"></label>
            <input name="id_commande" th:value="${lastIdCommande}" type="hidden">
        </div>

    <!-- Boucle sur les produits -->
    <div >
        <!-- Checkbox pour sélectionner le produit -->
        <label for="produit" th:text="*{id_produit.nom}"></label>
            <input name="id_produit" th:value="*{id_produit.idProduit}"  type="hidden">


        <!-- Champ quantité pour chaque produit -->
        <div>
            <label for="quantite">Quantité :</label>
            <input name="quantite" type="number" placeholder="Saisir la quantité" >
        </div>
        <!-- Bouton submit -->
        <div>
            <input type="submit" value="Enregister">
        </div>
    </div>
</form>

<a th:href="@{'/details-detail-commande/' + ${commande.id_commande}}">Etape final</a>
</body>
</html>