<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="Formulaire">Formulaire création de commande </title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="black centrer souligner police">Formulaire de création de commande</h1>
    <div class="milieu colonne">
        <div>

            <li class="black centrer souligner " th:text="${' Commande Numéro : ' + commande.id_commande}"></li>

            <h2 class="black centrer souligner police">Formulaire de la commande</h2>


            <form th:each="detail : ${detailCommandes}" th:object="${detail}" th:action="@{'/creation-commande'}"
                  method="post">

                <!-- Champ Numero de commande-->
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <label for="commande"></label>
                        <input name="id_commande" th:value="${lastIdCommande}" type="hidden">
                    </div>
                </div>
                <div>
                    <!-- Boucle sur les produits -->
                    <div>
                        <!-- Checkbox pour sélectionner le produit -->
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <a th:href="@{'/details-produit/' + *{id_produit.idProduit}}"
                                   th:text="*{id_produit.nom}"></a>
                                -
                                <span th:text="*{id_produit.prix + ' €'}"></span>
                            </div>
                            <input name="id_produit" th:value="*{id_produit.idProduit}" type="hidden">
                        </div>

                        <!-- Champ quantité pour chaque produit -->
                        <div class="uk-margin opacité black colonne">
                            <div class="uk-inline uk-width-1-1">
                                <label for="quantite">Quantité :</label>
                                <input name="quantite" type="number" placeholder="Saisir la quantité" min="1"><br>
                            </div>
                        </div>
                        <!-- Bouton submit -->
                        <div>
                            <input type="submit" value="Enregister">
                        </div>
                    </div>
                </div>

            </form>

            <h2> Détails de la commande </h2>
            <ul th:each="d: ${detailCommandeUpdate}">
                <li th:text="${'Nom du produit : ' + d.id_produit.nom}"></li>
                <li th:text="${'Quantité : ' + d.quantite}"></li>
                <li th:text="${'Prix cumulé : ' + d.quantite*d.id_produit.prix + ' €'}"></li>
                <a th:href="@{'/delete-produit-details-commande/' + ${d.id_commande.id_commande} + '/' +  ${d.id_produit.idProduit}}">Supprimer</a>
            </ul>
            <li th:text="${'Prix total de la commande : ' + commande.prix_total + ' €'}"></li>

            <h2>Information de la commande</h2>

            <form th:object="${commande}" th:action="@{'/date-form/' + ${commande.getId_commande()}}" method="post">
                <!-- Champ date -->
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <label for="date">Date et heure de livraison</label><br>
                        <input class="uk-input uk-width-1-1 oval centrer semi-transparent longueur-input black "
                               th:field="*{date_heure_livraison}" type="datetime-local">
                        <input class="semi-transparent essai" type="submit" value="Enregister">
                    </div>
                </div>
            </form>

            <form th:object="${commande}" th:action="@{'/livraison-form/' + ${commande.getId_commande()}}"
                  method="post">
                <!-- Champ livraison ou à emporter ?-->
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <label for="livraison">En livraison ou à emporter ?</label><br>
                        <input class="uk-input uk-width-1-1 oval centrer semi-transparent longueur-input texte-blanc "
                               th:field="*{livraison}" type="number" min="0" max="1"><br>
                        <input class="semi-transparent essai" type="submit" value="Enregister">
                    </div>
                </div>
            </form>

            <form th:if="${commande.livraison} == 1" th:object="${client}"
                  th:action="@{'/client-form/' + ${commande.getId_commande()}}" method="post">

                <!-- champ id -->
                <input th:field="*{id_client}" type="hidden">

                <!-- champ prenom -->
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <label for="prenom">Prenom</label><br>
                        <input class="uk-input uk-width-1-1 oval centrer semi-transparent longueur-input " th:field="*{prenom}" type="text" placeholder="Saisir le Prénom">
                        <ul th:if="${#fields.hasErrors('prenom')}">
                            <li class="uk-form-danger" th:each="error:${#fields.errors('prenom')}" th:text="${error}">
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- champ nom -->
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <label for="nom">Nom</label><br>
                        <input class="uk-input uk-width-1-1 oval centrer semi-transparent longueur-input " th:field="*{nom}" type="text" placeholder="Saisir le Nom de famille">
                        <ul th:if="${#fields.hasErrors('nom')}">
                            <li class="uk-form-danger" th:each="error:${#fields.errors('nom')}" th:text="${error}">
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- champ rue -->
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <label for="rue">Rue</label><br>
                        <input class="uk-input uk-width-1-1 oval centrer semi-transparent longueur-input "
                               th:field="*{rue}" type="text" placeholder="Saisir le nom de la rue">
                        <ul th:if="${#fields.hasErrors('rue')}">
                            <li class="uk-form-danger" th:each="error:${#fields.errors('rue')}" th:text="${error}">
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- champ code_postal -->
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <label for="code_postal">Code postal</label><br>
                        <input class="uk-input uk-width-1-1 oval centrer semi-transparent longueur-input "
                               th:field="*{code_postal}" type="text" placeholder="Saisir le Code Postal">
                        <ul th:if="${#fields.hasErrors('code_postal')}">
                            <li class="uk-form-danger" th:each="error:${#fields.errors('code_postal')}"
                                th:text="${error}">
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- champ ville -->
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <label for="ville">Ville</label><br>
                        <input class="uk-input uk-width-1-1 oval centrer semi-transparent longueur-input "
                               th:field="*{ville}" type="text" placeholder="Saisir le nom de la ville">
                        <ul th:if="${#fields.hasErrors('ville')}">
                            <li class="uk-form-danger" th:each="error:${#fields.errors('ville')}" th:text="${error}">
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Bouton submit -->
                <div>
                    <input class="semi-transparent essai black" type="submit" value="Enregistrer">
                </div>
            </form>

            <h2> État de la commande </h2>
            <ul>
                <!--  faire un th:each pour afficher le prix de chaque article et les additionner et les enregistrer dans prix total      -->
                <li th:text="${'Date et heure de livraison : ' + commande.date_heure_livraison}"></li>
                <li th:if="${commande.est_paye} == 0">Commande non réglées</li>
                <li th:if="${commande.est_paye} == 1">Commande réglées</li>
                <li th:if="${commande.livraison} == 1">Type de commande : Livraison</li>
                <li th:if="${commande.livraison} == 0">Type de commande : A emporter</li>
                <li th:if="${commande.livraison} == 1"
                    th:text="${'Adresse du client : ' + commande.id_client.getRue() + ', ' + commande.id_client.ville + ' ' + commande.id_client.code_postal}"></li>
            </ul>
            <input class="semi-transparent essai black" type="button" value="Etape final"
                   th:onclick="'window.location.href=\'/details-detail-commande/' + ${commande.id_commande} + '\''">
        </div>
    </div>
</div>
</body>
</html>
