<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
</head>
<body>

<h1>Formulaire de commande</h1>

<form th:object="${commande}" th:action="@{/commande-form}" method="post">

  <!-- Champ id -->
  <input th:field="*{id_commande}" type="hidden">

    <!-- Champ nom -->
    <div>
        <label for="date">Date de commande</label>
        <input th:field="*{date_heure_livraison}" type="text" placeholder="Saisir la date de la commande">
    </div>

    <!-- Champ nom -->
    <div>
        <label for="livraison">livraison ?</label>
        <input th:field="*{livraison}" type="date" placeholder="Saisir 1 pour une livraison ou 0 pour la livraison ">
    </div>

    <!-- Champ nom -->
    <div>
        <label for="date">Date de commande</label>
        <input th:field="*{date_heure_livraison}" type="type="datetime-local"" placeholder="Saisir 0 pour ">
    </div>

    <!-- Champ nom -->
    <div>
        <label for="date">Date de commande</label>
        <input th:field="*{date_heure_livraison}" type="text" placeholder="Saisir la date de la commande">
    </div>

    <!-- Champ nom -->
    <div>
        <label for="date">Date de commande</label>
        <input th:field="*{date_heure_livraison}" type="text" placeholder="Saisir la date de la commande">
    </div>

    <!-- Champ nom -->
    <div>
        <label for="date">Date de commande</label>
        <input th:field="*{date_heure_livraison}" type="text" placeholder="Saisir la date de la commande">
    </div>

    <!-- Champ nom -->
    <div>
        <label for="date">Date de commande</label>
        <input th:field="*{date_heure_livraison}" type="text" placeholder="Saisir la date de la commande">
    </div>

    <!-- Champ nom -->
    <div>
        <label for="date">Date de commande</label>
        <input th:field="*{date_heure_livraison}" type="text" placeholder="Saisir la date de la commande">
    </div>





</form>
</body>
</html>